<% if user_signed_in? %>

  <% @my_games, @other_games = @games.partition { |g| g.participant?(@current_user.id) } %>

  <h1>My Games</h1>

  <% if @my_games.size > 0 %>
    <%= render :partial => "list", :locals => { :games => @my_games } %>
  <% else %>
    <p>None!</p>
  <% end %>

  <p><%= link_to 'New Game', new_game_path %></p>

  <h1>Other Games</h1>

  <%= render :partial => "list", :locals => { :games => @other_games } %>

<% else %>

  <h1>Games</h1>

  <%= render :partial => "list", :locals => { :games => @games } %>

<% end %>

