<% if @current_user.nil? %>
  <% @my_games, @other_games = [], @games %>
<% else %>
  <% @my_games, @other_games = @games.partition { |g| g.participant?(@current_user.id) } %>
<% end %>

<% if @my_games.size > 0 %>

  <h1>My Games</h1>

  <%= render :partial => "list", :locals => { :games => @my_games } %>
<% end %>

<p>
<% if user_signed_in? %>
  <%= link_to 'New Game', new_game_path %>
<% end %>
</p>

<% if @my_games.size > 0 %>
  <h1>Other Games</h1>
<% else %>
  <h1>Games</h1>
<% end %>

<%= render :partial => "list", :locals => { :games => @other_games } %>

